<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="description" content="{{ page.metadescription }}" />
	<meta name="google-site-verification" content="8eHITXF6-kLwRSGadGPduRcZYBmX-R_L85vU_DCB9gU" />
	<meta name="robots" content="index,follow" />
	<meta name="viewport" content="width=device-width">
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}{{page.permalink }}" />
	<meta property="og:image" content="{{ site.url }}/assets/" />
	<meta property="og:description" content="{{ page.metadescription }}" />
	 <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link href="{{ site.url }}/assets/favicon.ico" rel="icon" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster|Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
</head>
